:root {
    --fundo: rebeccapurple
}
.pai{
    border: 1px solid transparent;
    background: var(--fundo);
    margin-top: 20px;
    padding: 2%;
}

@media (min-width:769px){
    .App-header {
        display: flex;
        flex-direction: row;
    }
    .pai{
        margin-left: 20px;
    }
}